.sidebar {
  width: 240px;
  height: calc(100vh - 56px);
  background-color: var(--bg-color);
  overflow-y: auto;
  position: sticky;
  top: 56px;
  display: flex;
  flex-direction: column;
}

/* Custom Scrollbar for sidebar */
.sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--bg-hover); 
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent; 
}

.section {
  padding: 12px 12px;
}

.divider {
  border-bottom: 1px solid var(--border-color);
  margin: 0 0;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  color: var(--text-primary);
  text-decoration: none;
}

.navItem:hover {
  background-color: var(--bg-hover);
}

.navItem.active {
  background-color: var(--bg-hover);
  font-weight: 500;
}

.sectionHeader {
  font-weight: 600;
  font-size: 16px;
}

.sectionHeader:hover {
  background-color: transparent;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  padding: 16px 24px;
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
}

.footer p {
  margin-bottom: 8px;
}

.copyright {
  font-weight: 400;
  color: #717171;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
